body {
	background-color: rgb(224, 255, 255);
	width: 800px;	
	margin: auto;
}

h1 {
	color: 	rgb(128, 0,	0);
	text-align: center;
}

p {
	color: 	rgb(128,128,128);
	border: 1px solid rgb(128,128,128);
	padding: 10px;
}